@import "variables.scss";
*{
    margin: 0; padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    &__head{
        width: 97%;
        height: 10%;
        padding: 1.5%;
        background-color: $colo-blue;
        background-color: #273c75;
        .head__title{
            color: $color-btn-index;
            width: 27%;
        }
    }
    &__footer{
        height: 10%;
        padding: 4%;
        background-color: $colo-blue;
        background-color: #3E3F3B;
        background-color: #2f3640;
        background-color: #273c75;
        .footer--div .btn--contact{
            padding: 0.2%;
        }
    }
}
.block--flex--row{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.block--flex--col{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.head__menu, .head__title{
    background-color: $colo-blue;
    background-color: #273c75;
    display: inline-block;
}
h1{
    color: #fff;
    font-weight: 900;
}
h2{
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
}
.btn--mobile{
    display: none;
}
.head__menu{
    width: 58%;
    display: flex;
    justify-content: flex-end;
}
.menu__liste{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.menu__liste li{
    list-style: none;
    display: inline-block;
    color: $color-btn-index;
    margin-right: 3%;
}
a{
    text-decoration: none;
}
.btn{
    font-weight: 700;
    &--primary{
        font-size: $font-size-h2;
    }
    &--action{
        background-color: $background-btn-page1;
        font-size: 2rem;
        color: $color-btn-index;
        border: 0px solid $background-btn-page1;
        border-radius: $border-radius-btn;
        box-sizing: border-box;
        text-align: center;
        padding: 0.7%;
        width: auto;
        margin: auto;
        margin-top: 4%;
        cursor: pointer;
        &:hover{
            background-color: transparent;
            border: 3px solid $background-btn-page1;
        }
    }
    &--contact{
        color: #fff;
        background-color: $color-btn-orange;
        padding: 7%;
        border-radius: $border-radius-btn;
        text-align: center;
        box-sizing: border-box;
        &:hover{
            background-color: transparent;
            border: 2px solid #D80073;
            border-radius: $border-radius-btn;
            margin-right: 0%;
        }
    }

    &--contact{
        color: #fff;
        background-color: $color-btn-orange;
        border-radius: $border-radius-btn;
        text-align: center;
        padding: 4%;
        font-size: 2.5rem;
        box-sizing: content-box;
        border: 2px solid #D80073;
        &:hover{
            background-color: transparent;
            border: 2px solid #D80073;
            border-radius: $border-radius-btn;
            margin-right: 0%;
        }
    }
    &--menu{
        color: #fff;
        &::after{
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            background: #F3506B;
            transition: width .3s;
        }
        &:hover::after{
            width: 100%;
            transition: width .3s;
        }
    }
}
.section{
    height: auto;
    padding: 2%;
    &--1{
        background:url("../Public/Image/js_code.jpg") no-repeat scroll;
        background-size: cover;
        border-bottom: 2px solid #00f;
        opacity: 0.8;
        .section--div--1{
            width: 50%;
            margin: auto;
            margin-top: 5%;
            & h2, & p{
                color: rgba(255, 255, 255, 0.925);
                font-weight: 700;
                text-align: center;
            }
            & .btn--contact{
                width: 15%;
                margin: 4% auto;
                padding: 0.4%;
            }
            &:first-child{
                padding-bottom: 7%;
                font-size: 4.5rem;
            }
            &:last-child{
                width: 100%;
                padding-bottom: 5%;
            }
            .para--hard{
                font-size: 3rem;
                padding-top: 2%;
                color: #D80073!important;
            }
        }
    }
    &--2{
        .section--div--2 h2{
            color: #222f3e;
        }
    }
    &--3{
        background-color: rgb(86, 87, 86);
        background-color: #576574;
        .section--div--3{
            & h2{
                color: #fff;
            }
        }
    }
    &--4{
        .div--contact {
            width: 48%;
            border: #4200f7 3px solid;
            &--form{
                width: 47%;
                border: #fc3a09 3px solid;
                .h2--section--4{
                    left: 0%;
                }
                form{
                    width: 95%;
                    margin: auto;
                }
                input, textarea {
                    border: 3px solid #576574 ;
                    border-radius: $border-radius-btn;
                    display: block;
                    padding: 2%;
                    margin: 4% 0%;
                    text-align: center;
                    width: 90%;
                    &::placeholder{
                        font-size: 1.6rem;
                    }
                    &:focus{
                        outline: none;
                        border: 3px solid #280bcc ;
                        border-radius: $border-radius-btn;
                    }
                }
                .btn--contact{
                    padding: 2%;
                    font-size: 2.2rem;
                    box-sizing: content-box;
                    border: 2px solid #D80073;
                    &:hover{
                        color: #576574;
                        background-color: transparent;
                        border: 2px solid #D80073;
                    }
                    &:focus{
                        outline: none;
                        border: 3px solid #280bcc ;
                        border-radius: $border-radius-btn;
                    }
                }
            }
            &--details{
                width: 47%;
                border: #D80073 3px solid;
                font-size: 2rem;
                & > p{
                    padding: 2.8%;
                    text-align: justify;
                    color: #576574;
                    .span{
                        font-weight: 900;
                        &-name{
                            color: #D80073;
                        }
                        &-blue{
                            color: #4200f7;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-device-width : 480px) and (max-device-width : 768px){
    .container{
        &__head{
            background-color: $background-btn-page1;
            .head__title, .head__menu{
                background-color: $background-btn-page1;
            }
            .head__title{
                h1{
                    display: none;
                }
                .btn--mobile{
                    display: inline-block;
                    background-color: transparent;
                }
            }
            .head__menu{
                
                .menu__liste{
                    display: none;
                }
                .menu__mobile{
                    width: auto;
                    & a{
                        color: #fff;
                        width: 70%;
                        height: 20%;
                        font-size: 3rem;
                    }
                }
                .menu__barre{
                }
                .mobile--menu--1, .mobile--menu--2{
                }
            }
        }
    }
    .section--div--4{
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        .div--contact{
            width: 98.7%;
            &--form{
                width: 90%;
                padding: 3%;
                margin-bottom: 4%;
            }
            &--details{
                font-size: 1.7rem;
            }
        }
    }
}