.container{
    width: 100%;
}
.head__menu, .head__title{
    @include display--inline;
}
.head__menu{
    width: 58%;
    @include block--flex--row;
    justify-content: flex-end;
}
.menu__liste{
    width: 100%;
    @include block--flex--row;
    .btn--mode{
        .label--mode{
            color: rgb(255, 0, 13);
            .input--mode{
                color: rgb(255, 0, 13);
            }
        }
    }
}
.menu__liste li{
    list-style: none;
    @include display--inline;
    color: $color-btn-index;
    margin-right: 3%;
}
.btn{
    font-weight: 700;
    @include btn;
}
.block--flex--row{
    @include block--flex--row;
}
.block--flex--col{
    @include block--flex--col;
}
.section{
    height: auto;
    padding: 2%;
    &--1{
        background-size:100%;
        background-color: #718093;
        .section--div--1{
            width: 50%;
            margin: auto;
            margin-top: 0%;
            .img--profile{
                margin-bottom: 2%;
            }
            & h2, & p{
                color: rgba(255, 255, 255, 0.925);
                font-weight: 700;
                text-align: center;
            }
            & .btn--contact{
                width: 17%;
                margin: 1.3% auto;
                padding: 0.6%;
            }
            &:first-child{
                padding-bottom: 7%;
                font-size: 4.5rem;
            }
            &:last-child{
                width: 100%;
                padding-bottom: 5%;
            }
            .para--hard{
                font-size: 2rem;
                padding-top: 2%;
                color: #D80073!important;
            }
        }
    }
    &--2{
        height: auto;
        .section--div--2 {
            & h2{
            color: #222f3e;
            }
            .div--technologie{
                & .div--soft{
                    width: 80%;
                    margin: 0 auto;
                    @include block--flex--row;
                    flex-wrap: wrap;
                    padding: 3%;

                    & figure{
                        width: 24%;
                        height: auto;
                        margin: 0 0.5%;
                        @include block--flex--col;
                        align-items: center;
                        color: #D80073;
                        .img--language{
                            width: 45%;
                            height: 45%;
                        }
                        &:hover{
                            color: $color--blue;
                        }
                        figcaption{
                            text-align: center;
                            font-size: 1.8rem;
                            text-transform: uppercase;
                            padding: 2% 0;
                        }
                    }
                }
            }
        }
    }
    &--3{
        width: 100%;
        height: auto;
        background-color: #576574;
        .section--div--3{
            & h2{
                color: #fff;
                margin: 2% auto;
            }
            width: 100%;
            & .projets--realise{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                & .container-projet{
                    width: auto;
                    height: auto;
                    margin: 2% auto;
                    border: #D80073 2px solid;
                    @include border-radius(12px);
                    background-color: #280bcc;
                    
                    background: #280bcc;
                    background-color: #fff;
                    .img--realisation{
                        width: 100%;
                        display: block;
                        @include border-radius(12px);
                    }
                    .div--link{
                        @include border-radius(12px);

                        & .link--realisation{
                            margin: 4% auto;
                            i{
                                font-size: 2rem;
                                color: #fff;
                                transform: scale(1);
                                transition: transform 200ms;
                                &:hover{
                                    transform: scale(1.3);
                                    color: #D80073;
                                }
                            }
                            & img {
                                width: 2.6%;
                                height: auto;
                                transform: scale(1);
                                transition: transform 200ms;
                                &:hover{
                                    transform: scale(1.3);
                                    color: #D80073;
                                }
                            }
                        }
                    }
                }

                .projet1{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                .projet2{
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                .projet3{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
            }
        }
    }
    &--4{
        .h2--section--4{
            width: 40%;
            margin: 0 auto;
            & > i{
                color: #D80073;
                font-size: 9rem;
            }
        }
        .div--contact {
            width: 48%;
            &--form{
                width: 47%;
                .h2--section--4{
                    left: 0%;
                }
                form{
                    width: 95%;
                    margin: auto;
                }
                input, textarea {
                    border: 3px solid #576574 ;
                    border-radius: $border-radius-btn;
                    display: block;
                    padding: 2%;
                    margin: 4% 0%;
                    text-align: center;
                    width: 90%;
                    &::placeholder{
                        font-size: 1.6rem;
                    }
                    &:focus{
                        outline: none;
                        border: 3px solid #280bcc ;
                        border-radius: $border-radius-btn;
                        text-align: justify;
                    }
                }
                .btn--contact{
                    padding: 2%;
                    font-size: 2.2rem;
                    box-sizing: content-box;
                    border: 2px solid #D80073;
                    &:hover{
                        color: #576574;
                        background-color: transparent;
                        border: 2px solid #D80073;
                    }
                    &:focus{
                        outline: none;
                        border: 3px solid #280bcc ;
                        border-radius: $border-radius-btn;
                    }
                }
            }
            &--details{
                @include about;
            }
        }
    }
    .section--div--4--hidden{
        position: absolute;
        width: 70%;
        width: 97%;
        margin: 0%;padding: 0%;
        height: auto;
        height: 100%;
        top: 0;
        .div--contact--form--hidden{
            position: relative;
            padding: 7%;
            padding: 2%;
            background-color: #576574;
            background-color: rgba($color: #576574, $alpha: 0.97);
            border-radius: $border-radius-btn;
            height: 80%;
            top: 9%;
            & svg{
                color: #fff;
                width: 8%;
                height: 8%;
                position: relative;
                top : -6.4%;
                right: -99.3%;
                border-radius: $border-radius-btn;
                width: 5.2%;
                cursor: pointer;
                &:hover{
                    color: #D80073;
                    transition: 0.5ms;
                }
            }
            h3{
                font-size: 2.4rem;
                color: #D80073;
                color: #fff;
                letter-spacing:0.3rem;
                padding-left: 3.5%;
            }
            input, textarea {
                &:focus{
                    outline: none;
                    border: 3px solid #D80073 ;
                    border-radius: $border-radius-btn;
                    text-align: justify;
                }
            }
            .btn--contact{
                &:hover{
                    color: #fff;
                }
                &:focus{
                    outline: none;
                    border: 3px solid #D80073 ;
                    border-radius: $border-radius-btn;
                }
            }
        }
    }
    &--5{
        color: #fff;
        background-color: #718093;
        &--container{
            @include block--flex--row;
            .section--div--5{
                background-color: #718093;
                .div--apropos{
                    @include about;
                    width: 60%;
                    margin: 3% auto;
                    & > p{
                        color: #dcdde1;
                    }
                }
    
            }
        }
    }
}
.container--coordonnees{
    h3{
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }
    .link--coordonnee{
        width: 120%;
        color: #fff;
        @include block--flex--row;
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
        transform:translateY(1);
        transition: translate 200ms;
        &:first-child{
            font-size: 3.2rem;
        }
        i{
            margin-right: 5%;
        }
        &:hover{
            color: #D80073;
            transform: translateY(1.5);
            font-weight: 900;
        }
    }
}